@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Montserrat:wght@300&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    background-image: url(../images/eu.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    font-family: 'Roboto', 'sans-serif';
    position: relative;
    object-fit: fill;
}

/* header */
h1 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 45px;
    text-shadow: 2px 2px 2px  blanchedalmond;
}

/* navigation bar */
nav {
    letter-spacing: 3px;
    text-align: center;
    background-color: blanchedalmond;
}
nav li {
    display: inline;
    text-decoration: none;
    font-size: 30px;
    margin: 10px;
}

nav a {
    text-decoration: none;
}

/* home page introduction */
#intro p {
    text-align: justify;
    margin: 0 auto;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    letter-spacing: 2px;
    padding: 30px;
    background-color: rgb(255, 235, 205, 0.9);
    font-size: 15px;
}

.play {
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
    background-color: rgba(108, 219, 86, 0.9);
    padding: 5px;
    width: 80px;
    border-radius: 8px;
    box-shadow: 0 0 10px 3px;
    cursor: pointer;
}

.play a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    padding: 10px;
    width: 15%;
}

.play:hover {
    background: chartreuse;
    box-shadow: 0 0 5px 1px;
}
/* footer*/
footer {
    letter-spacing: 3px;
    text-align: center;
    background-color: blanchedalmond;
    width: 100vw;
    position: absolute;
    bottom: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
    font-family: 'Roboto', 'sans-serif';
}

/* game page welcome box */
.welcome-area {
    margin: 0 auto;
    margin-top: 50px;
    width: 70%;
    height: 40%;
    padding: 30px;
    background-color: rgb(255, 235, 205, 0.9);
    font-size: 50px;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px 3px;
}

.welcome-area p {
    padding: 30px;
    font-weight: 30px;
}

.st-button {
    font-size: 35px;
    padding: 10px;
    margin-top: 30px;
    background-color: chartreuse;
    border-radius: 5px;
    cursor: pointer;
}

.st-button:hover {
    background: chartreuse;
    box-shadow: 0 0 5px 1px;
}

/* game page game area */
.gm-area {
    margin: 0 auto;
    margin-top: 20px;
    width: 75%;
    height: 60%;
    background-color: rgb(255, 235, 205, 0.9);
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px 3px;
    display: none;
}

.act-question {
    background: rgb(76, 78, 74, 0.1);
    border-radius: 10px;
    height: 100px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ans-button button{
    padding: 20px;
    margin: 5px;
    margin-top: 20px;
    border-radius: 10px;
    width: 120px;
    cursor: pointer;
    justify-content: center;
}

.ans-button button:hover {
    background-color: chartreuse;
}

.nx-btn{
    padding: 15px;
    margin-top: 30px;
    border-radius: 15px;
    padding-left: 80px;
    padding-right: 80px;
}

.nx-btn:hover {
    background-color: rgb(8, 233, 102);
    box-shadow: 0 0 5px 1px;
}

#score-box {
    margin: 0 auto;
    margin-top: 10px;
    width: 75%;
    height: 5%;
    background-color: rgba(27, 97, 228, 0.9);
    display: block;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 10px 3px;
    color: cornsilk;
    font-size: 25px;
    display: none;
}


.restart-btn {
    padding: 15px;
    margin-top: 30px;
    border-radius: 15px;
    padding-left: 80px;
    padding-right: 80px;
    display: none;
}

.restart-btn:hover {
    background-color: chartreuse;
    box-shadow: 0 0 5px 1px;
}

.show {
    display: block;
}

.hidebtn {
    display: none;
}

.btn-wrapper {
    display: flex;
    justify-content: center;
}

.btn.correct {
    background-color: chartreuse;
}

.btn.wrong {
    background-color: crimson;
}

/* Help Page */
#guide {
    text-align: justify;
    margin: 0 auto;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    background-color: rgb(255, 235, 205, 0.9);
    font-size: 10px;
}

.form {
    padding: 12px;
}

.input-field {
    width: 80%;
    padding: 5px;
    font-size: 10px;
    margin: 2px;
}

.input-msg {
    width: 81%;
    height: 90px;
}

.sub-bttn {
    width: 100px;
}

/* For medium screen sizes from 750px wide and up (768x1024)*/
@media screen and (min-width: 768px) {
    h1 {
        font-size: 70px;
    }

    nav li {
        font-size: 40px;
    }

    #intro p {
        margin-top: 50px;
        margin-left: 50px;
        margin-right: 50px;
        letter-spacing: 5px;
        padding: 30px;
        font-size: 25px;
        line-height: 2.5rem;
    }

    .play {
        margin-top: 30px;
        padding: 10px;
        width: 200px;
    }
    
    .play a {
        font-size: 20px;
        padding: 10px;
    }

    /* welcome area for tablets */
    .welcome-area {
        width: 70%;
        height: 25%;
        font-size: 40px;
    }

    /* game area for tablets */
    .act-question {
        height: 200px;
        font-size: 30px;
        padding: 15px;
    }

    .ans-button button{
        padding: 40px;
        margin: 20px;
        width: 200px;
        font-size: 20px;
    }

    .nx-btn {
        font-size: 18px;
        margin-top: 15px;
    }

    #score-box {
        padding-top: 15px;
    }

    .restart-btn {
        font-size: 18px;
        margin-top: 80px;
    }

    /* Help page for tablets*/
    #guide {
        margin-top: 30px;
        margin-left: 50px;
        margin-right: 50px;
        padding: 20px;
        background-color: rgb(255, 235, 205, 0.9);
        font-size: 18px;
    }
    
    .input-field {
        width: 80%;
        padding: 5px;
        font-size: 15px;
        margin: 2px;
    }
    
    .input-msg {
        width: 80.3%;
        height: 90px;
    }
    
    .sub-bttn {
        width: 100px;
    }
}

/* For larger screen sizes from 1200px wide and up (1280X802*/
@media screen and (min-width: 1200px) {
    /* game area for laptops */
    .gm-area {
        height: 55%;
    }

    .act-question {
        height: 200px;
        font-size: 30px;
        padding: 10px;
        margin-top: 20px;
        height: 150px;
    }

    .ans-button button{
        padding: 30px;
        margin: 30px;
        width: 150px;
    }

    /* Help page for laptops */
    #guide {
        margin-top: 15px;
        margin-left: 400px;
        margin-right: 400px;
        padding: 20px;
        background-color: rgb(255, 235, 205, 0.9);
        font-size: 15px;
    }

    .input-field {
        width: 80%;
        padding: 5px;
        font-size: 13px;
        margin: 2px;
        display: flex;
    }

    .sub-bttn {
        width: 80px;
    }
        
}